@charset "utf-8";

	.mainMenuList li span {color: white;}
	.mainMenuList li a {color: white;}
	
	/* 호텔페이지 해드 영역 */
	.headBackImg {
		position:absolute; width: 100%; height: 500px; top: -200px;
		background-image: url("../images/hotelimg1.gif");
		background-size:cover;}
	.headMenu .headMenuLine {background: white;}	/* 메뉴버튼 색상 */
	
	/* 예약 체크 영역 */
	.reservation_area {
		position:absolute; background:#fff;
		left:50%; top:250px; z-index:3;
		transform:translateX(-50%);
		width: 1100px; height: 200px;
		border-radius: 10px;
		box-shadow: 2px 2px 4px gray;}
		
	
	/* 카테고리 리스트 */
	.kategori {
		position: relative; width: 1000px;
		left:10px; margin: 40px 40px; padding-bottom:5px;
	  	overflow: hidden; border-bottom: 1px solid #555;}

	.nav-item {
		position: relative;
		font-size: 20px; color: #555;
		margin-right: 20px;
		transition: .3s; 
		z-index: 1; padding-bottom: 5px;}
		
	.nav-item:before {
	  	content: ""; position: absolute;
	  	left: 0; bottom: -20px;
	 	width: 100%; height: 4px;
	 	background-color: #0bff;
	  	border-radius: 8px 8px 0 0;
	  	opacity: 0; transition: .3s;}

	.nav-item:not(.is-active):hover:before {opacity: 1; bottom: 0;}

	.nav-indicator {
	  	position: absolute;
	  	left: 0; bottom: 0;
	  	transition: .4s;
	  	height: 5px; z-index: 1;
	  	border-radius: 8px 8px 0 0;
	}
	
		
	/* 지역 텍스트 박스 */
	#area_search {
		position: absolute; margin: 20px 20px; padding: 0 10px;
		left: 30px; top:40%; width: 280px; height: 40px;
		border-radius: 4px; cursor: pointer;}
	#area_search:hover {border: 3px solid #ddd;}	
	
	/* 달력 */
	#calendar {
		position: absolute; margin: 20px 20px; padding: 0 10px;
		left: 345px; top:40%; width: 280px; height: 40px;
		border-radius: 4px; cursor: pointer;}
	#calendar:hover {border: 3px solid #ddd;}
	
	/* 선택한 인원을 나타내는 창 */
	#reservation_person{
		position: absolute; margin: 20px 20px; padding: 0 10px;
		left: 660px; top:40%; width: 230px; height: 40px;
		border-radius: 4px; cursor: pointer;}
	#reservation_person:hover {border: 3px solid #ddd;}
	
	/* 인원창을 누르면 열리는 인원선택 창 */
	.select_person {
		position: absolute; background:white;
		width: 300px; height: 230px; 
		left: 685px; top: 150px;
		border-radius: 4px; box-shadow: 2px 2px 10px gray;}
	.select_person h3 {padding: 10px 10px; text-align: left; font-size: 20px}
	.select_person table {
		position: relative; width: 100%; height: 50%;
		text-align: center; padding-right: 10px;}
	.select_person table th {text-align: left; width: 70%;}
	.select_person span {font-size: 20px; font-weight: bolder; margin-left: 10px;}
	.select_person input[type=text] {width: 30px; height: 30px; text-align: center; border: none; font-size: 20px;}
	.select_person input[type=checkbox] {width: 30px; height: 30px; display: none;}
	/* 더하기 빼기 사진 크기 */
	#person_check img {width: 40px; height: 40px; cursor: pointer;} 
	
	#submit {
		position: absolute; background: #0bff; color: #fff;
		padding: 7px 7px; left:210px; top: 175px;
		border-radius: 4px; border: none;}
	#submit:hover{ cursor: pointer; background: #00ace6;}
	
	/* 검색 버튼 */
	#hotelPage_search {
		position: absolute; background: #0bff;
		width: 100px; height: 44px;
		left: 950px; top: 100px; 
		font-size:20px; color: #fff;
		border-radius: 4px; border: none;}
	#hotelPage_search:hover {cursor: pointer; background: #00ace6;}	
	
	
	/* 호텔리스트 페이지 */
	.hotelPage_List iframe {border: none;}
	.hotelPage_List {
		position: relative; top: 340px; left:32px;
		width: 1200px; height: 1500px; z-index: 1;}
		